html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-family: 'Roboto';
  font-weight: 100;
}

.result {
  width: 100%;
  background-color: #000;
  min-height: 2em;
  color: white;
}

.result > p {
  padding: 0 1em;
  text-align: right;
  line-height: 2em;
}

.double {
  width: 50%;
}

/* dark theme */

.dark {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  font-size: 2em;
  background-color: rgb(1, 49, 53);
}

.dark span {
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  width: 25%;
  background-color: rgb(146, 21, 21);
  line-height: 2em;
  border-radius: 50%;
}

.dark .operator {
  background-color: #6b4209;
  color: white;
}

.dark .grey {
  background-color: rgb(49, 22, 46);
  color: white;
}
.changed{
  background-color: green;
}

.dark .clicked {
  background-color: darken(rgb(68, 44, 0), 10%);
}

.dark .double {
  width: 50%;
}

.dark .calculator {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 300px;
  border-right: 0.01em solid rgb(196, 191, 191);
  border-left: 0.01em solid rgb(196, 191, 191);
  border-bottom: 0.01em solid rgb(196, 191, 191);
}

/* light theme */

body {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  font-size: 2em;
  background-color: #bbb;
}

span {
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  width: 25%;
  background-color: #ccc;
  line-height: 2em;
  border-radius: 50%;
}

.operator {
  background-color: #FF9500;
  color: white;
}

.grey {
  background-color: #aaa;
}

.clicked {
  background-color: darken(orange, 10%);
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 300px;
  border-right: 0.01em solid #333;
  border-left: 0.01em solid #333;
  border-bottom: 0.01em solid #333;
}