.main{
    border-radius: 30px;
    height: 1020px;
    width: 600px;
}
.calc_screen{
    width: 550px;
    height:130px;
    margin: 20px 30px 0px 30px;
    font-size: 100px;
    text-align: right;
}
.act_btn button{
    width: 100px;
    height: 50px;
    border-radius: 40px;
}
.act_btn{
    padding-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 350px 120px 100px ;
}


.btn{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 10px;
    font-size: 50px;
    text-align: center;
}
.all_btn{
    padding: 10px;
}
.double_btn{
    width: 266px;
    border-radius: 60px;
    text-align: left;
    padding-left: 45px;
}
.orange_clr{
    color: white;
    background-color: orange;
}



/* light theme */

.calculator {
    background-color: rgb(229, 229, 229);
}

.calculator #display {
    color: #0a1e23;

}
.calculator #clear button {
    background-color: black;
    color: white;
}
.calculator .all_btn .grey_clr{
    color: white;
    background-color: rgb(44, 44, 44);
}
.calculator .all_btn .blck_clr{
    color: black;
    background-color: rgb(195, 195, 195);
}


  /* dark theme */

  .calculator.dark {
    background-color: #071115;
  }
  .calculator.dark #clear  button{
    background-color: white;
    color: #110708;
}

  .calculator.dark #display { 
    color: #f8fafb;
  }
  .calculator.dark .all_btn .grey_clr{
    color: black;
    background-color: rgb(195, 195, 195);
}
.calculator.dark .all_btn .blck_clr{
    color: white;
    background-color: rgb(44, 44, 44);
}